/* @import url("/css/fonts/charter-font.css"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-size: 16px;

  /* CSS variables */
  --gray_10: #616161;
  --gray_20: #424242;
  --gray_30: #212429;
  --gray_40: #212121;
  --yellow: #fec62e;
}

body {
  /* font-family: charter, sans-serif; */
  font-family: "Roboto", sans-serif;
}

body,
a {
  color: var(--gray_40);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.hero {
  block-size: 350px;
  inline-size: 100%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.25), transparent), url("/images/pattern.svg");
}

header {
  /* overwrite a css variable */
  /* --gray_10: blue; */

  color: var(--gray_10);
  font-size: 0.875rem;
}

header a {
  color: var(--gray_10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray_40);
}

nav details summary {
  font-weight: bold;
  cursor: pointer;
}

h3::after {
  content: "";
  block-size: 4px;
  inline-size: 80px;
  background: var(--gray_20);
  display: block;
}

pre {
  background: var(--yellow);
}
